html
{
    background: none;
    background-color: #171719;

}

body
{
    overflow-y: scroll;
}

#container
{
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-img
{
    width: 100%;
    margin: 0;
}

.middle-text
{
    text-align: left;
    overflow: wrap;
    word-break: break-word;
    background-color: #171719;
    margin: 0;
}

#logo
{
    position: absolute;
    top: 4em;
    left: 4em;
    width: 8%;
    z-index: 10;
}

.two-column
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.other-photos
{
    width: 80%;
}

.column
{
    padding: 3em;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.photo-credit
{
    margin-bottom: 2em;
}